  
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --team1-color: rgba(255, 0, 0, 0.616);
    --team2-color: rgba(0, 128, 0, 0.603);
    --team3-color: rgba(255, 255, 0, 0.5);
    --team4-color: rgba(0, 0, 255, 0.562);
}

.meadows-logo {
    height: 60px;
    margin-left: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    
}

.row {
    background-color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    width: 100px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.column {
    float: left;
    width: 25%;
    
    padding: 10px;
    height: 900px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }
  
.btn {
    display: flex;
    justify-content: center;
    position: static;
    
}

button {
    text-transform: uppercase;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin: 0.5rem;
    width: 100px;

}


#team1-btn:hover {
    color: #fff;
    background: var(--team1-color);
}

#team2-btn:hover {
    color: #fff;
    background: var(--team2-color);
}

#team3-btn:hover {
    color: black;
    background: var(--team3-color);
}

#team4-btn:hover {
    color: #fff;
    background: var(--team4-color);
}


#team1-img, #team2-img, #team3-img, #team4-img {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    
}

.score-container {
    height: 400px;
}

.team-score {
    display: flex;
    justify-content: center;
    
    font-size: 16rem;
    font-weight: bold;

    /* font-size: 26rem;
    font-weight: bold;
    color: rgba(255, 183, 195, 0.973);
    text-shadow: 0 0 5px black;
    margin-bottom: 0; */
}

#team1-score {
    color: var(--team1-color);
}

#team2-score {
    color: var(--team2-color);
}

#team3-score {
    color: var(--team3-color);
}

#team4-score {
    color: var(--team4-color);
}

/* #team1-score, #team2-score, #team3-score, #team4-score {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  } */


.learning-intention-input {
    border: none;
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-decoration: underline;
}

.learning-intention-input:focus {
    outline: none;    
}

#hamburger span {
    display: none;
    position: absolute;
    background: #333;
    color: #fff;
    border-radius: 6px;
    padding: 5px 5px;
    font-family: "Open Sans", sans-serif;
    z-index: 1;
  }
  
#hamburger:hover span {
    display: block;
  }


#hamburger:active {
    border: 1px solid black;
    padding: 3px;
}


.summary-container {
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

#lastweek-winner {
    width: 235px;
    height: 100px;
    float:left;
    border: 1px solid black;
}

#thisweek-winner {
    width: 235px;
    height: 100px;
    float:left;
    border: 1px solid black;
    margin-left: 20px;
}

#lastweek-title, #thisweek-title {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#lastweek-team {
    border: none;
    text-decoration: none;
}

#lastweek-winner-cont, #thisweek-winner-cont {
    padding-top: 10px;
    font-size: 30px;
}

.winner {
    background-color: antiquewhite;
}